#timer {
   
}
.container
{
  margin-top: -3%;
}

.error
{
  color: #B94A48;
}

.form-horizontal
{
  margin-bottom: 0px;
}

.hide{display: none;}

/*
.question
{
  height:438px !important;
}
*/
/*
.questions{
height:200px;
border-bottom:0px;
width:100%;}
*/
/*
.questions
{
    margin-top: 10px;
    margin-bottom: 50px;
}
*/
/*
.questionsChoix
{
  height:348px;
  border-top:0px;
}
*/

/*
.radio
{
height:50px 
}
*/

.progress-bar-success {
  background-color:#5CB85C;
}
.progress-bar-warning {
  background-color:#F0AD4E;
}
.progress-bar-danger {
  background-color:#D9534F;
}
.btn-group > .btn + .dropdown-toggle {
  padding-left:8px;
  padding-right:8px;
}
.btn-default {
  background-color:#FFFFFF;
  border-color:#CCCCCC;
  color:#333333;
}
.btn-default {
  background-color:#FFFFFF;
  border-color:#CCCCCC;
  color:#333333;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius:0;
  border-top-left-radius:0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left:-1px;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  float:left;
  position:relative;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  float:left;
  position:relative;
}
input, button, select, textarea {
    font-family:inherit;}


    a{text-decoration: none;color: #fff;}
    header p{padding-top:20px;}

    footer
    {
      background: #339966;
      height: 100px;
      color:#fff;
  }

  footer p{padding-top:50px;}

  .image
  {
      padding-top:10%;
      height: 453px;
  }

  .intro
  {
      margin:150px 0px 150px 70px;
  }
  /*.question{height: 403px;}*/
  .result-logo{margin-left: 42%;margin-top:1.6%;}
  .result-logo1{margin-left: 55%;}
  .result-container{margin-left: 40%;margin-top:1%; color:#684B68;}
  .logout{padding-top:100px;}
  .next{margin-left:200px;}
  .answer{color:green;font-weight: 300;font-size: larger; }
  .result{height: 452px;}
  #timer
  {
    float:left;
    padding: 5px 20px 0 0;
}
.questionbox
{
    margin-top :17px;
    /*padding:10px;*/
    border:1px solid;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.drop-box
{ 
    border-color: rgba(0, 0, 0, 0.5);
    border:1px solid;
}

img
{
  width: 20px;
  height: 20px;
}

h4, .h4
{
  font-size:18px;
}

.titre
{ 
    font-weight: bold;
}

h4.titre span {
    /* Dans l'ordre: padding-top padding-right padding-bottom padding-left */
    margin-left: 56% ;/* Décaler le titre par rapport aux paragraphes normaux */
    margin-top:20% !important;
    color: blue;}

    .progress
    {
      background-color:#F5F5F5;
      border-radius:4px;
      box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
      height:20px;
      margin-bottom:20px;
      overflow:hidden;
  }

  #blocQuestion{float:left; width:240px;}

  .coverlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
}

.question_content
{
    top:0 !important;
    margin-top:0px;
}

input[type=checkbox], input[type=radio]
{
    vertical-align: middle;
    position: relative;
}

.questionsChoix input[type=radio] ,.checkbox-primary  input[type=checkbox]
{
    left: 20px;
}

label,h4
{
  display: block;
  float: left;
}
h4
{
    vertical-align : top;
    margin-right: 50px;
}

#name h4
{
    float: right;
}
input
{
    vertical-align: middle;
}

.questions_container
{
    padding: 0 2%;  
}

#boutons
{
    padding-top:5px; 
}
.panel-body
{
    padding:15px !important;
}
.progress,#boutonsTimer
{
  /* margin-top:40px;*/
  /*padding-left:10px;*/
}
#timer
{ 
    /*border-style:solid double;*/
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.cont
{
  text-align:-moz-left !important;
  float:none;
  /*margin-left: auto;*/
}

.form-top
{
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0 25px 15px;
    text-align: left;
}

.form-bottom
{
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px;
    text-align: left;
}
::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

.drop-shadow
{
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, .5);
    box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, .5);
}

.dialog_content
{
  padding: 0 5px !important;
}
.ui-progressbar-value
{
    width: 105.233% !important;
}
hr
{
    height:1px !important;
}

div.questionbox hr
{
  margin-top: 0 !important;
}
.radio
{
  clear: both;
}
/*.buttonBox {
    position: absolute;
    bottom:0;
    right:0;
    }*/
    @media (min-width: 768px)
    {
        .form-inline .radio input[type="radio"], 
        .form-inline .checkbox input[type="checkbox"] {
            float: left;
            margin-right: 5px;
        }
    }

    .no_overflow{
      overflow:hidden;
  }

  /* ----------- Style complementaire pour la page question_aptitude.php, la page question.php et la page evaluation.php ------------*/
  /* --------------------------------- Développé par ASSILI Taher --------------------------------------------------------------------------- */
  /* ----------------------------------taherassilli@gmail.com ------------------------------------------------------------------------------- */

  #section1
  {
    margin-top: 70px;
    margin-bottom: 5px;
}

#section1 h4
{
    /*color: #ED7F10;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18;*/
    color:  #77B5FE;
    font-weight: bold;
    font-size:18;
    
}

#section2 .drop-box
{
    margin-top: 20px;
    box-sizing: content-box;
    height: 79%;
    margin-bottom: 20px;
    padding: 0px;
}

#section2 .questionbox
{
    margin-bottom: 5px;
    /*height: 90%;*/
    /*padding: 20px;*/
}

#section2 .question1993
{
    height: 71%;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 60px;
    overflow: hidden;
    overflow-x: visible;
    overflow-y: scroll;
}

#section2 .boutons
{
    margin: 0px;
    padding: 0px;
}

#section2 .boutons .bouton1
{
    width: 30%;
    float: left;
}

#section2 .boutons .bouton2
{
    width: 20%;
    border-left: 1px solid black;
}

#section2 .boutons .bouton3
{
    width: 20%;
    border-left: 1px solid black;
}

#section2 .boutons .bouton4
{
    width: 30%;
    float: right;
    border-left: 1px solid black;
}

#section2 .questionsChoix
{
    /*color: black;*/
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
}


#section2 .questions
{
    margin-top: 10px;
    margin-bottom: 120px;
    /*color: #03224C;*/
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

/*
#section2 b
{
    color: #16B84E;
}
*/

.question1993::-webkit-scrollbar
{
    width: 1px;
    height: 0px;
    background-color: white;
}

.question1993::-webkit-scrollbar-button
{
    background-color: white;
    width: 20px;
    height: 0px;
}

.question1993::-webkit-scrollbar-track
{
    border-radius: 1px;
    /*background-color: grey;*/
    background-color: white;
    width: 2px;
    color: blue;
}

.question1993::-webkit-scrollbar-thumb
{
    border-radius: 1px;
    background-color: blue; 
    color: blue;
}

#section2 .nomEvaluation
{
    color:  #77B5FE;
    font-weight: bold;
    text-align: center;
    font-size:18;
    /*margin-left:5px;*/
    margin-top:15px;
    margin-bottom: 30px;
}


#page2
{
    background-image: url('19.jpg');
    /*background-position: 10px center;*/
    background-position: 50px 50px;
    background-attachment: scroll;
    background-blend-mode: saturation;
    background-size: 350px 200px;
    background-repeat: no-repeat;
}

.boutonsEvaluations
{
    padding: 0px;
}

.boutonsEvaluations button
{
    display: inline-block;
    margin: 0px;
    width: 100%;
}
.boutonsEvaluations div
{
    padding: 0px;
    margin: 0px;
}

.boutonsEvaluations #bouton1
{
    border-right: 1px solid black;
    padding: 7px !important;
}

.boutonsEvaluations #bouton2
{
    border-right: 1px solid black;
    padding: 7px !important;
}

.boutonsEvaluations #bouton3
{
    padding: 7px !important;
}


.form-elements1
{
  margin-top:80px;
}

.form-elements1 h3
{
    color:  #77B5FE;
    font-weight: bold;
    font-size:18;
}

.form-elements
{
    margin-top: 10%;
}



.form-elements p
{
    /*color: black;*/
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

/* Small Devices, Tablets */ 
@media only screen and (max-width : 1200px)
{
    #section1
    {
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 10%;
    }
    
    #section2 .drop-box
    {
        margin-top: 0px;
        border: none;
        /*height: 700px;*/
        height: 500px;
        margin-bottom: 20px;
    }

    #section2 .question1993
    {
        height: 80%;
        margin-bottom: 10px;
        overflow: hidden;
        overflow-x: visible;
        overflow-y: scroll;
    }
    
    #section2 .boutons .bouton1,#section2 .boutons .bouton4
    {
        width: 50%;
        border-bottom: 1px solid black;
    }
    #section2 .boutons .bouton2
    {
        width: 100%;
        border-bottom: 1px solid black;
        border-left: 0px;
    }
    #section2 .boutons .bouton3
    {
        width: 100%;
        border-left: 0px;
    }
    
    #section2 #timer
    {
        margin-left: 0px;
        margin-top: 17px;
        margin-bottom: 10px;
        padding: 0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0px;
        border: 1px solid black;
    }
    
    #page2
    {
        background-image: url('19.jpg');
        /*background-position: 10px center;*/
        background-position: left 10px;
        background-attachment: scroll;
        background-size: 250px 150px;
    }
    
    .boutonsEvaluations #bouton1
    {
        border-right: 0px;
        border-bottom: 1px solid black;
    }

    .boutonsEvaluations #bouton2
    {
        border-right: 0px;
        border-bottom: 1px solid black;
    }
    
    .form-elements1
    {
        margin-top: 50px;
    }
    
    .form-elements
    {
        margin-top: 10%;
    }
    
    .form-elements p
    {
        color: black;
    }
    
    #section2 .nomEvaluation
    {
        text-align: center;
        margin-top:15px;
        margin-bottom: 20px;
    }

    
}

/* --------------------------------- Style complementaire pour la page navbar.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */
/* --------------------------------- taherassilli@gmail.com ---------------------------------------------------------------------- */
#nav-left-1
{
    width: 80%;
}

#nav-left-1 #profile1
{
    margin-left: 40px;
}

#nav-left-1 #deconnexion1
{
    padding-top:15px;
    padding-bottom:0px;
    margin:0px;
    float: right;
}

#nav-left-1 #deconnexion1 a
{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    
}

#nav-left-1 #deconnexion1 a i
{
    margin-right:2px;
}


@media (max-width: 1300px)
{
    .navbar-header
    {
        float: none;
    }
    
    .navbar-left,.navbar-right
    {
        float: none !important;
    }
    
    .navbar-toggle
    {
        display: block;
    }
    
    .navbar-collapse
    {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-fixed-top
    {
        top: 0;
        border-width: 0 0 1px;
    }
    
    .navbar-collapse.collapse
    {
        display: none!important;
    }
    
    .navbar-nav
    {
        float: none!important;
        margin-top: 7.5px;
    }
    
    .navbar-nav>li
    {
        float: none;
    }
    
    .navbar-nav>li>a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .collapse.in
    {
        display:block !important;
    }
    
    #nav-left-1 #profile1
    {
        margin-left: 0px;
    }

    #nav-left-1 #general1
    {
        margin-left: 0px;
    }

    #nav-left-1 #deconnexion1
    {
        float: left;
    }
    
    #nav-left-1 #deconnexion1 i
    {
        margin-left: 11px;
    }
    

}

.navbar
{
    margin-bottom: 0px !important; 
}

/* --------------------------------- Style complementaire pour la page result.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */
/* --------------------------------- taherassilli@gmail.com ---------------------------------------------------------------------- */
#page4
{
    /* background-image: url('2.jpg'); */
    /*background-position: 10px center;*/
    /*background-position: 10px 10px;
    background-attachment: fixed;
    background-size: 400px 400px;
    background-repeat: no-repeat; */
}

#page4 img
{
    width: 100%;
    height: 200px;
    opacity: 1;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    margin-top: 50px;
}

#page4 .page-content1 p
{
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
}

#page4 .page-content1 a
{
    margin-top:10px;
    margin-bottom:20px;
    margin-left:20px;
}

#page4 #result-box
{
    margin-top: 30%;
}

@media (max-width: 991px)
{
    #page4 img
    {
        height: 150px;
        width: 50%;
    }
    #page4 .page-content1 p
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:20px;
    }
    
    #page4 .page-content1 a
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:50px;
    }
    
    #page4 #result-box
    {
        margin-top: 30px;
    }
    
}

@media (max-width: 767px)
{
    #page4 .page-content1 p
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:20%;
    }
    
    #page4 .page-content1 a
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:21%;
    }
    
    #page4 img
    {
        height: 150px;
        width: 80%;
        margin-top: 50px;
    }
    
    #page4 #result-box
    {
        margin-top: 30px;
    }
}

/* --------------------------------- Style complementaire pour la page profil.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */
/* --------------------------------- taherassilli@gmail.com ---------------------------------------------------------------------- */

.user-list-profil #img1
{
    width: 80%;
    height: 30px;
    opacity: 1;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    margin-top: 0px;
    /*margin-left: 40%;*/
    margin-left: 20px;
}

.user-list-profil #panelGroup
{
    margin-top: 50px;
}

@media (max-width: 767px)
{
    .user-list-profil #panelGroup
    {
        margin-left: 20px;
    }

    
}

@media (max-width: 400px)
{
    .user-list-profil #panelGroup
    {
        margin-left: 0px;
    }
}

/* --------------------------------- Style complementaire pour la page index.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */

#presentation
{
    border-top: 2px solid green;
    margin:0px;
    margin-top:5px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#presentation h5
{
    /*color: #318CE7 !important;*/
    color: coral;
    font-family: cursive;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

#presentation p
{
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    /*font-weight: bold;*/
    font-style: normal;
}

#presentation #ligne
{
    border-top: 2px solid green;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

#page1 #vivaldi
{
    width:50%;
    max-width: 180px;
    height:100px;
    margin: 0px;
    margin-left: 20px;
    margin-top: 20px;
}
