﻿/* ===================================
Developed by Zied BELGHITH
Website: www.ziedbelghith.esy.es
====================================== */
/* ====================================   General Styles   ==================================== */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
html,
body {
	overflow-x: hidden;
}
body {
	background: #fff;
	font-size: 14px;
	color: #666;
	font-family: 'Titillium Web', sans-serif;
}
p {
	padding: 0% 3%;
	margin-bottom: 24px;
}
blockquote {
	margin: 24px 0;
	margin-left: 72px;
	border-left: 4px solid #7c4dff;
	padding: 0;
	padding-left: 38px;
	font-size: 16px;
	line-height: 28px;
	color: #232323;
}
blockquote p {
	position: relative;
}
blockquote p:before {
	content: '“';
	font-size: 24px;
	line-height: 28px;
	position: absolute;
	left: -12px;
	top: 0;
}
blockquote p:after {
	content: '”';
	font-size: 24px;
	line-height: 28px;
}
blockquote footer {
	font-size: 13px;
	line-height: 28px;
	color: #7c4dff;
	margin-top: 12px;
}
blockquote footer:before {
	content: '';
}

a:focus {
	text-decoration: none;
}
a img {
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
a:hover img {
	opacity: .75;
}
.list-unstyled li {
	margin-bottom: 12px;
}
.list-icons {
	padding-left: 0;
	margin-left: 36px;
	list-style-type: none;
}
.list-icons > li {
	position: relative;
}
.list-icons > li > i {
	position: absolute;
	left: -36px;
	width: 36px;
	top: 2px;
	text-align: center;
	color: #232323 !important;
	font-size: 18px;
	vertical-align: middle;
}
.list-icons.purple > li > i {
	color: #7e50ff;
}
.list-icons.blue > li > i {
	color: blue;
}
.bold-list {
}
.bold-list li {
	margin-bottom: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #207bd6;
	text-align: center;
}
h1 {
	margin-top: 10px;
	margin-bottom: 20px;
}
h2 {
	font-size: 22px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 36px;
}
h3 {
	font-size: 22px;
	line-height: 26px;
	margin-top: 0;
}
h4 {
	font-size: 16px;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 24px;
}
h5 {
	font-size: 15px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 24px;
}
h6 {
	font-size: 14px;
	line-height: 32px;

}
h3.small-margin-bottom {
	margin-bottom: 6px;
}
.container-fluid > .row {
	background-color:#fff;
}
.cont {
	padding: 0% 10%;
	min-height: 500px;
	background-color: #fff;
	text-align: center;
}
.header {
	height: 70px;
}
.cont p {
	font-size: 18px;
	text-align: left;
}
.container-fluid {
	padding: 0%;
}
.p-left-menu .cont h3 {
	color:#00688B;
}
.map {
	width: 100%;
	height: 426px;
	margin-top: 72px;
}    
.clear {
	clear: both;
}
/* ====================================   Logo   ==================================== */
.header-page-fluid {
	margin: 0%;
	padding: 0%;
	color: #fff;
	overflow: hidden;
	border: none;
}
.header-page-fluid img {
	width: 180px;
	height: 120px;
}
.header-page-fluid h6 {
	margin: 0% 8%;
	color: orange;
	font-style: italic;
	font-size: 90%;
}
/* ====================================   Welcome   ==================================== */
.welcome {
	text-align: right;
	height: 4%;
	font-size: 16px;
}
/* ====================================   Forms   ==================================== */
input:not([type=submit]):not([type=file]),
select,
textarea {
	border: none;
	border-bottom: 1px solid #d7d7d7;
	background: none;
	width: 100%;
	padding: 2px 6px;
	outline: none !important;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.form-bottom {
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px;
    text-align: left;
}
input:not([type=submit]):not([type=file]) {
	text-align: left;
	padding-left: 5%;
	font-size: 16px;
}
.drop-shadow {
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, .5);
    box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, .5);
}
input:not([type=submit]):not([type=file]):focus,
select:focus,
textarea:focus {
	border-color: #328ce7;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}
.input-group {
	margin-bottom: 28px;
}
.form-horizontal .control-label {
	text-align: left;
	padding-right:0%;
	padding-left:0%;
}
/* ====================================   Buttons   ==================================== */
.button {
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
	outline: none !important;
}
.button:hover {
	text-decoration: none;
}
.button i {
	font-size: 24px;
	vertical-align: middle;
}
.button.icon-left i {
	margin-right: 12px;
}
.button.icon-right i {
	margin-left: 12px;
}
.button-row {
	margin-top: 48px;
}
.button-row .button {
	margin-right: 32px;
	margin-bottom: 12px;
}
@media all and (max-width: 1024px) {
	.button-row .button {
		display: block;
		margin-right: 0;
	}
}
/*==========  Action Button  ==========*/
.action-button {
	background: #7c4dff;
	color: #fff;
	font-size: 24px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
}
.action-button:hover {
	-webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
	box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
}
/*==========  Solid Button  ==========*/
.solid-button {
	font-size: 15px;
	padding: 11px 25px;
	border: none;
	border-radius: 3px;
	text-align: center;
	color: #f5f5f5;
	background-color: rgba(32, 123, 214, 0.8);
}
.solid-button:hover {
	background-color: rgb(32, 123, 214);
}
.solid-button.purple {
	background: #9e6fff;
	color: #fff;
}
.solid-button.blue {
	background: #328ce7;
	color: #fff;
	padding: 5px 10px;
	border-radius: none !important;
}
.solid-button.white {
	background: #fff;
	color: #232323;
}
.solid-button.dark {
	background: #232323;
	color: #fff;
}
.solid-button.white-purple {
	background: #fff;
	color: #232323;
}
.solid-button.white-purple:hover {
	background: #7c4dff;
	color: #fff;
}
.solid-button.small {
	font-size: 12px;
	padding: 2px 20px;
}
/*==========  Link Button  ==========*/
.link-button {
	font-size: 13px;
	line-height: 32px;
}
.link-button:hover {
	opacity: .75;
}
.link-button.white {
	color: #fff;
}
/*==========  Action Button  ==========*/
.action-button {
	background: #7c4dff;
	color: #fff;
	font-size: 24px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
}
.action-button:hover {
	-webkit-box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
	box-shadow: 0 6px 18px rgba(0, 0, 0, .13), 0 9px 15px rgba(0, 0, 0, .3);
}
/* ====================================   Alerts   ==================================== */
.alert {
	border: none;
	margin-bottom: 0;
	display: none;
	font-size: 15px;
	line-height: 26px;
	border-radius: 3px;
}
.alert-info {
	background: #2196F3;
	color: #fff;
}
.alert-success {
	background: #4CAF50;
	color: #fff;
}
.alert-danger {
	background: #F44336;
	color: #fff;
}
/* ====================================   Progress Bar   ==================================== */
.progress {
	height: 8px;
	margin-bottom: 36px;
	background-color: #e8e8e8;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	overflow: visible;
}
.progress-bar {
	line-height: 8px;
	background-color: #7c4dff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	position: relative;
}
.progress-bar span {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000;
	background: #fff;
	position: absolute;
	top: -16px;
	right: -20px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}
.progress-bar-label {
	font-size: 13px;
	margin-bottom: 12px;
	color: #232323;
}
.circle-progress-wrapper {
	margin-bottom: 24px;
}
.circle-progress {
	display: inline-block;
	width: 200px;
	height: 200px;
	position: relative;
	float: left;
}
.circle-progress input {
	font-size: 20px !important;
	display: inline-block !important;
	width: 78px !important;
	height: 78px !important;
	line-height: 78px !important;
	border-radius: 100% !important;
	background: #fff !important;
	margin-top: 61px !important;
	margin-left: 61px !important;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .3) !important;
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .3) !important;
	-o-box-shadow: 0 3px 6px rgba(0, 0, 0, .3) !important;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .3) !important;
	top: 0;
	left: 0;
}
.circle-progress-label-wrapper {
	margin-left: 240px;
	height: 200px;
}
.circle-progress-label {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 0;
	color: #232323;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@media all and (max-width: 768px) {
	.circle-progress {
		float: none;
	}
	.circle-progress-label-wrapper {
		margin-left: 0;
		height: auto;
		margin-top: 12px;
	}
	.circle-progress-label {
		top: auto;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}
/* ====================================   Footer   ==================================== */
footer {
	background-color: #333333 !important;
	font-size:18px;
	text-align:center;
	color:#fff;  
}
footer .top {
	background-color: #333333 !important;
	padding:0%;
}
footer .bottom {
	background: #1c1c1c;
	line-height: 50px;
}
footer h4 {
	padding-top: 20px;
	color: #fff;
}
footer .social-icons {
	margin-bottom: 0%;
}
/* ====================================   Social Icons   ==================================== */
.social-icon {
	display: inline-block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #232323;
	background: #fff;
	border-radius: 100%;
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .13);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .13);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .13);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .13);
	margin: 4px 4px;
	text-align: center;
}
.social-icon:hover {
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .13), 0 6px 10px rgba(0, 0, 0, .3);
	background-color: #31b0d5; 
	color: #fff;
}
/* ====================================   Prevent Selection   ==================================== */
html,
body {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
/* ====================================   Navbar   ==================================== */
.main-nav {
	font-size:16px;
	margin-left:2%;
}
.main-nav a:focus {
	background-color: #fff !important;
	color: #337ab7 !important;
}
.main-nav a:hover {
	background-color: #fff !important;
	padding-bottom: 11px;
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
}
.nav-o:hover {
	background-color: #fff !important;
	padding-bottom: 11px;
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
}
.nav-y:hover {
	background-color: #fff !important;
	padding-bottom: 11px;
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
}
.nav-g:hover {
	background-color: #fff !important;
	padding-bottom: 11px;
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
}
.nav-b:hover {
	background-color: #fff !important;
	padding-bottom: 11px;
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
}
.nav-v:hover {
	background-color: #fff !important;
	padding-bottom: 11px;
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
}
.active-o {
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
	padding-bottom: 11px !important;
}
.active-y {
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
	padding-bottom: 11px !important;
}
.active-g {
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
	padding-bottom: 11px !important;
}
.active-b {
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
	padding-bottom: 11px !important;
}
.active-v {
	border-bottom: 4px solid #207bd6;
	color: #207bd6 !important;
	padding-bottom: 11px !important;
}
.navbar-fluid {
	margin:0%;
	border-radius:0px;
}
 .dropdown-type {
 	color: #fff !important;
 	font-style: italic !important;
 	background-color: rgba(128, 128, 128, 0.66) !important;
 }
/* ====================================   Page Content   ==================================== */
.page-content {
	margin: 0% 14%;
	padding: 0% 0% 2% 0%;
	min-height: 400px;
	background-color: #fff;
	text-align: left;
}
.page-content h1 {
	color: #444444;
	font-size: 26px;
	line-height: 1;
	padding: 0%;
	color: orange;
	text-align: center;
	margin: 0% 0% 2% 0%;
}
.page-content h2 {
	padding: 0%;
	margin: 2% 0%;
}
.page-content h3 {
	padding: 2%;
	text-align: center;
	font-size: 20px;
}
.page-content > img {
	height:30%;
	width:60%;
	margin:auto;
}
.page-content p {
	padding:0%;
	margin: 2% 2%;
	font-size: 18px;
}
.page-content ul {
	padding-left:0%;
	list-style:none;
	padding-bottom:3%;
}
.page-content ul li {
	padding: 1% 0%;
}
.page-content i {
	margin: auto;
	color: #217bd6;
}
.page-content .cont {
	padding: 0% 2%;
}
.page-content .cont h3 {
	color:#106ac5;
}
.page-content .cont ul {
	font-size:16px;
}
/* ====================================   Acceuil   ==================================== */
#typingText{
	height:30px;
}
#wss{
	opacity:0;
	-webkit-transition: opacity 1.0s linear 0s;
	-moz-transition: opacity 1.0s linear 0s;
	-o-transition: opacity 1.0s linear 0s;
	transition: opacity 1.0s linear 0s;
}
.jumbotron {
	padding: 4% !important;
}
/* ====================================   Societe   ==================================== */
#societe {
	margin: 0% 14%;
}
/* ====================================   Service   ==================================== */
#service {
	margin: 0% 14%;
}
#service h3 {
	color:orange;
}
#service h1 {
	padding:0%;
	color:#31b0d5;
	font-size:18px;
	text-align:center;
}
.thumbnail {
	border:none;
}
.ul-pad {
	padding:0%;
}
/* ====================================   Collaboration   ==================================== */
#collaboration {
	margin: 0% 14%;
	padding: 0% 0% 2% 0%;
	background-color: #fff;
}
#collaboration > img {
	height: 30%;
	width: 60%;
	margin: auto;
}
#collaboration i {
	margin-right: 10px;
	color: #217bd6;
}
#collaboration h3 {
	font-size: 18px;
	text-align: center;
	padding: 2%;
}
#collaboration .cont {
	padding-top: 20%;
}
#collaboration .cont h3 {
	color:orange;
}
/* ====================================   Contact   ==================================== */
.adresse {
	padding-left:0px;
	padding-right:30px;
}
.nouscont {
	padding-left: 30px;
	padding-right: 0px;
}
.soicon {
	margin-left: 6%;
}
.spacer {
	margin-bottom: 48px;
}
/* ====================================   Screen Compatibility   ==================================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header-page-fluid {
		position: static;
	}
	.page-content .header-page-fluid {
		position: absolute;
	}
	.page-content {
		margin: 0% 14%;
		padding: 0%;
	}
	#service {
		margin: 0% 14%;
	}
	#societe {
		margin: 0% 14%;
	}
	#collaboration {
		margin: 0% 14%;
	}
	.list-icons {
		margin-left: 4%;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.page-content {
		margin-bottom: 4%;
	}
	.form-horizontal .control-label {
		padding-right:0%;
		padding-left:2%;
	}
	.adresse {
		padding-left: 15px;
		padding-right: 15px;
	}
	.nouscont {
		padding-left: 15px;
		padding-right: 15px;
	}  
	.page-content p {
		height: 150px;
		text-align: center;
	}
	#typingText{
		height: 150px;
	}
	.thumbnail.right-caption img {
		float: none;
		margin: auto;
		border: none;
	}
	.thumbnail.right-caption {
		float: none;
		margin:9% 0%;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.p-left-menu .cont .row .jumbotron h2 {
		padding: 0% 4%;
	}
	#societe {
		margin: 0% 6%;
	}
	#collaboration {
		margin: 0% 14%;
		padding: 0% 0% 10% 0%;
	}
	.page-content .header-page-fluid {
		position: static;
	}
	.page-content {
		margin: 0% 6%;
	}
	.index-content .h21 {
		font-size: 120%;
	}
	.index-content .h22 {
		font-size: 120%;
		top: 25%;
	}
	.index-content h3 {
		font-size: 100%;
	}
	.page-content {
		margin: 0% 4%;   
	}
	.col-sm-offset-2 {
		margin-left: 70px !important;
		margin-bottom: 30px;
	}
	.button {
		width:100%;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.index-content .h21 {
		font-size: 90%;
	}
	.index-content .h22 {
		font-size: 90%;
		top: 50%;
	}
	.index-content h3 {
		display: none;
	}
	.page-content {
		margin: 0% 8%;
	}
	#service {
		margin: 0% 8%;
	}
	#societe {
		margin: 0% 8%;
	}
	#collaboration {
		margin: 0% 8%;
	}
	#collaboration p {
		text-align: center;
	}
	.col-sm-offset-2 {
		margin-bottom: 40px;
		margin-left: 60px !important;
	}
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	#collaboration {
		margin: 0%;
	}
	#collaboration .header-page-fluid {
		margin: auto;
	}
	.page-content .header-page-fluid {
		margin: auto;
	}
	#service .header-page-fluid {
		margin: auto;
	}
	.page-content .header-page-fluid {
		margin: auto;
	}
	#societe .header-page-fluid {
		margin: auto;
	}
}
#owl-demo .item img {
	margin: auto;
	height: 150px;
	width: 60%;
}
.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/
.owl-theme {
	height: 180px;
}
.owl-theme .owl-controls .owl-page {
	height: 180px;
	position: relative;
	bottom: 30px;
	display: inline-block;
	zoom: 1;
	padding: 1% 0%; 
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: orange;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-theme h3 {
	margin: 0%;
	background-color: #fff;
}
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
.scrolltotop {
	position: fixed;
	bottom: -150px;
	right: 20px;
	height: 40px;
	width: 40px;
	color: #fff;
	background-color: rgba(100, 100, 100, 1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	opacity: 0;
}
.scrolltotop:hover {
	color: #337ab7;
	background-color: #eee;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}
.scrolltotop:hover i {
	opacity: 1;
}
.scrolltotop i {
	line-height: 40px;
	opacity: 0.5;
}
.show-to-top {
	opacity: 1;
	bottom: 20px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
hr {
	opacity: 0.1;
	height: 4px;
	background: #999;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5px;
	border-radius: 100%;
}
/* ========  Page loading  ========= */
div#load_screen{
	background: #fff;
	opacity: 1;
	position: fixed;
	z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
div#load_screen > div#loading{
	color:#000;
	width:120px;
	height:24px;
	margin: 300px auto;
}
/*=================================*/
.nav li a:hover {
	background-color: #fff;
}

/*
.dropdown .dropdown-menu {
	display: none;
	opacity: 0;
	-moz-transition:    height 0.3s linear 0s;
	-webkit-transition: height 0.3s linear 0s;
	-o-transition:      height 0.3s linear 0s;
	-ms-transition:     height 0.3s linear 0s;
	transition:         height 0.3s linear 0s;
}
.dropdown:hover .dropdown-menu {
	-moz-transition:    height 0.3s linear 0s;
	-webkit-transition: height 0.3s linear 0s;
	-o-transition:      height 0.3s linear 0s;
	-ms-transition:     height 0.3s linear 0s;
	transition:         height 0.3s linear 0s;
	opacity: 1;
	display: block;
}

.dropdown-menu {
	margin: 0%;
	padding: 0%;
	background-color: #7f8289;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards; 
	-webkit-transform: scale(1, 0);
	display: block;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}
.dropdown-menu li {width:100%}
.dropdown-menu li:hover {color:#7f8289 !important}
.dropdown-menu li a {line-height:30px !important; padding:0px 20px 0px 10px !important; margin:0% !important}
.dropdown-menu li a:hover {color: #ffffff !important;background-color: #31b0d5 !important}
.dropdown-submenu li a {color: #31b0d5 !important}
.dropdown-submenu li a:hover {color: #31b0d5 !important}
.dropdown-submenu li a:focus {color: #31b0d5 !important}
*/
.button-container {
	background-color: #eee;
	overflow-y: auto;
	padding: 2%;
	margin: 2%;
}
.button-container > a {
	width: 50%;
	height: 100px;
	float: left;
	background: #448bc8;
	color: #fff;
	font-size: 16px;
	padding: 4%;
	text-align: center;
	text-decoration: none;
}
.button-container > a:hover {
	background: #337ab7;
	color: #fff;
}
/******************* message page *********************/
.msg {
	font-size: 16px;
	padding: 5%;
}
.msg > a {
	border-radius: 0px;
	margin-left: 2%;
	font-size: 16px;
}
.msg > h2 {
	border-radius: 0px;
	margin-left: 1%;
}
.danger {
	color: red;
}
.danger hr {
	background-color: red;
}
.info {
	color: blue;
}
.info hr {
	background-color: blue;
}
/* evaluation */

/******************* end message page *********************/
.evalq {
	background-color: #fff;
}
.evalq > a {
	float: right;
	height: 30px;
	margin-left: 1%;
	border-radius: 0px;
	padding: 0.4% 1% 2% 1%;
}
.evalq > .btn {
}
.evalq i {
	color: #217bd6;
}
td {
	text-align: center;
}
.user-list {
	background-color: #fff;
	min-height: 35px;
	margin-bottom: 0.5%;
	border-bottom: 1px solid #666;
}
.user-list > a {
	float: right;
	height: 30px;
	margin-left: 1%;
	border-radius: 0px;
	padding: 0.4% 1% 2% 1%;
}
tr i {
	color: #217bd6;
	font-size: 20px;
}
/* Operation button*/
.user-listb {
	height: 100%;
	padding: 0% !important;
}
.user-listb > a:hover i {
	font-size: 25px;
}
.user-listb > a {
	width: 32%;
	opacity: 0.6;
	height: 20px;
	border-radius: 0px;
	border: none !important;
	padding: 0px;
}
.user-listb > a:hover {
	opacity: 1;
}
.button-operation-3 {
	height: 100%;
	padding: 0% !important;
}
.button-operation-3 > a:hover i {
	font-size: 25px;
}
.button-operation-3 > a {
	width: 30%;
	opacity: 0.6;
	height: 20px;
	border-radius: 0px;
	border: none !important;
	padding: 0px;
}
.button-operation-3 > a:hover {
	opacity: 1;
}
/**/
.user-list > .btn {
}
.sections_panel a {
	float: left;
	height: 30px;
	margin-left: 10px;
	border-radius: 0px;
	padding: 4px 10px 5px 10px;
}
input[class*='-button-add'],
input[class*='-button-edit'] {
	color:#fff;
	width:200px;
	float:right;
	margin-top:2%;
	border-radius:0px;
	background-color:#31b0d5;
}
.search-form {
	color:#fff;
	font-size: 12px;
	border-radius:0px;
	background-color:#31b0d5;
}
.user-list-profil {
	background-color: #fff;
	text-align: left;
	min-height: 400px;
}
.user-list-profil > a {
	height:30px;
	margin-left:1%;
	border-radius: 0px;
	padding: 1% 1% 1.5% 1%;
}
.controls .radio  {
	display: inline-block;
	width: 30%;
	float: right;
	text-align: left;
	padding-left: 2%;
}
.controls .radio:hover {
}
.controls input {
	display: inline-block;
	margin: 0px;
	background-color: blue;
}
.controls {width: 100%;background-color:yellow}
.error {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
	font-weight: normal;
	font-size: 14px;
	color: red;
}
.sections_panel {
	height: 0px;
	max-height: 0px;
	max-height: 200px;
	width: 100%;
	overflow: hidden;
	z-index: 10000;
	transition: all 0.3s linear 0s;
}
div.horizontal {overflow:auto}
.table {
	display: table;
	max-width: none !important;
	width: auto !important;
	table-layout: fixed;
	word-wrap: break-word;
	overflow: scroll;
}
td {
	width: none !important;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	white-space: pre;
	padding-left: 15px !important;
}
th {white-space:nowrap}
strong {word-wrap:none}
.question-form .form-group {margin-left:0% !important;margin-right:0% !important}
.question-form {padding:2%;border-radius:1%;background-color:#f1f1f1}
.question-form input[type="text"] {background-color: #fff !important}
.question-form textarea {background-color:#fff}
.question-form select {background-color:#fff}

.question-form-apt .form-group {margin-left:0% !important;margin-right:0% !important}
.question-form-apt {padding:2%;border-radius:1%;background-color:#f1f1f1}
.question-form-apt input[type="text"] {background-color: #fff !important}
.question-form-apt textarea {background-color:#fff}
.question-form-apt select {background-color:#fff}

.candidate-form-add .form-group {margin-left:0% !important;margin-right:0% !important}
.candidate-form-add {padding:4%;border-radius:1%;background-color:#f1f1f1}
.candidate-form-add input {background-color: #fff !important}
.candidate-form-add textarea {background-color:#fff}
.candidate-form-add select {background-color:#fff}

.shrink {
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	background-color:white;
	width: 100%;
}
.fixed-horizontal {display:none}
thead {background-color:white}
/* button */
.info-button {
	width: 100%;
	display: block;
	padding: 4px !important;
	border-radius: 0%;
	box-shadow: none !important;
	background-color: transparent !important;
	line-height: 12px;
	opacity: 0.6;
}
.info-button:hover {opacity:1}
.ion-information-circled {color: #5bc0de}
.toggle-button {
	width: 30px;
	height: 30px;
	padding: 0px;
	border-radius: 0%;
	box-shadow: none !important;
	background-color: #5bc0de !important;
	line-height: 12px;
	opacity: 0.6;
	margin-bottom: 0px !important;
	position: absolute;
	bottom: 0px;
}
.toggle-button:hover {opacity:1}
.first-td {
	position: relative;
	white-space: normal;
	width: 30px !important;
	padding: 0px !important;
}
.cell-block {width:100%;height:60px}
.ion-minus-round {font-size:14px!important}
.ion-plus-round {font-size:14px!important}
.ion-ios-circle-outline {margin-right:7px;font-size:20px}
.ion-ios-checkmark-outline {margin-right:7px;font-size:20px;color:green}
.struct_status {box-shadow:none!important;padding:0px;margin:0px}
.eval_status {box-shadow:none!important;padding:0px;margin:0px}
/* Administration menu adjustement */
.margin-right-icon {margin-right:8px !important}
/* Question form adjustement */
.input-value-adjust input {margin-top:5px}
.iti-flag {background-image:url("../countryPhone/img/flags.png")}
.user-list-filter{font-size:12px;}
/* thème form */
.theme-form-edit {margin:0% 18%;min-height:600px}
/* Error label modification */
#eval_tmp_m-error {margin-left:16px}


/*==================================================
   Header
==================================================*/

header {width: 100%; z-index: 99}

header .sticky-nav {
   	position: relative;
   	width: 100%;
   	height: 50px;
   	background: #26292E;
   	z-index: 1001;
   	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
   	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
   	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

header .sticky-nav.stuck {
   	position: fixed;
   	top: 0;
   	left: 0;
   	z-index: 1001;
}

/*==================================================
   Header
==================================================*/
.navbar {border-radius:none !important}
.navbar-brand {
	margin-left: 15px !important;
   	color: #31b0d5 !important;
   	font-size: 16px;
   	display: block;
   	opacity: 1;
   	text-decoration: none;
   	filter: alpha(opacity=100);
   	-webkit-transition: opacity 0.25s ease-in-out 0s;	
   	-moz-transition: opacity 0.25s ease-in-out 0s;
   	-o-transition: opacity 0.25s ease-in-out 0s;
   	transition: opacity 0.25s ease-in-out 0s;	
}
.navbar-brand:hover {color:#fff;opacity: 0.65;filter: alpha(opacity=65)}

.navbar-nav > li > a {background-color:#222 !important; color:#bbb !important}
.navbar-nav > li > a:active {background-color:transparent !important}
.navbar-nav > li > a:hover {background-color:transparent !important; color:#fff !important}
.navbar-nav > li > a:focus {background-color:transparent !important}

.navbar-nav > li.current > a,
.navbar-nav > li.current > a:hover {color:#fff !important}

.navbar .dropdown-menu {background-color:#444}
.navbar .dropdown-menu li a {color:#bbb}

.navbar .dropdown-menu li a:hover {background-color:#555; color:#fff}
.navbar .dropdown-menu li a:hover i {color:#fff}

.navbar .dropdown-menu li.current-sub > a {color:#fff}
.navbar .dropdown-menu li.current-sub > a > i {color:#fff}

   /* Login page */
.widget-body form {
   	color: #7f8289;
   	margin-top: 40px;
}
.widget-body form .form-group a,
.widget-body form button[Name='submit'] {
   	float: right;
   	margin-left: 10px;
}
.widget-header {
   	background: url('../img/content.png') repeat scroll 0 0;
   	border: 1px solid #DDD;
   	color: #328ce7;
   	padding: 20px 5px 10px 5px;
   	text-align: center;
   	font-size: 20px;
   	font-weight: bold;
   	margin: 0;
   	border-bottom: 0;
   	background-color: #EEEEEC;
   	-webkit-border-radius: 5px 5px 0 0;
   	-moz-border-radius: 5px 5px 0 0;
   	border-radius: 5px 5px 0 0;
   	width: 100%;
}
.widget-body {
   	font-size: 16px;
   	padding: 30px 0 20px 0;
   	background: rgba(77, 77, 75, 0.78);
   	border: 1px solid #DDD;
   	-webkit-border-radius: 0 0 5px 5px;
   	-moz-border-radius: 0 0 5px 5px;
   	border-radius: 0 0 5px 5px;
}

.widget-body form {
   	margin-bottom: 0;	
}

.widget-body form input,
.widget-body form textarea {
   	border: none !important;
   	-webkit-border-radius: 0;
   	-moz-border-radius: 0;
   	border-radius: 0 ;

   	-webkit-box-shadow: none;
   	-moz-box-shadow: none;
   	box-shadow: none;

   	background: #26292E !important;
   	color: #FFFFFF;
   	font-size: 16px;
   	height: auto !important;
   	padding: 15px !important;
   	margin: 0px !important;
   	resize: none;
}

.widget-body form input {
   	width: 100%;
   	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box;
}
.widget-body form p {
   	margin:0% 3%;
   	font-size: 16px;
   	margin-bottom: 3px;
}
.widget-body form textarea {
   	width: 100%;
   	resize: vertical;
   	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box;
}
.widget-body .button {
   	border: medium none;
   	border-radius: 0;
   	cursor: pointer;
   	display: inline-block;
   	font-size: 16px;
   	font-weight: 500;
   	float: right;
   	text-align: center;
   	text-transform: uppercase;
   	transition: all 0.1s linear 0s;
   	vertical-align: middle;
}
.widget-body form .submit {
   	cursor: pointer;
   	display: inline-block;
   	font-size: 18px;
   	font-weight: 500;
   	padding: 16px 40px;
   	text-align: center;
   	vertical-align: middle;
   	width: auto;
   	margin-top: 30px;
   	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;	
   	-moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
   	-o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
   	transition: background 0.1s linear 0s, color 0.1s linear 0s;
}
.widget-body .button:hover {background-color:#106ac5; color:#ffffff}

.login_page {
	background: transparent;
	margin-top: 20%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.dark-background {
	background: url('../img/backgrounds/background_1.jpg') no-repeat fixed;
	background-size: 100% 100%;
}
.thumbnail {background-color: #eee}
.option-title {text-align:center; font-size:18px; color:#207bd6}

.user-profile strong {color:#31b0d5; font-size: 15px}
.option-value{padding-right: 0%}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 5px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
.code-option{padding:2px 0px}

/* Profile form */
.passwd-form {
	background-color: rgba(60, 118, 61, 0.06);
    padding: 0px 0px 0px 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.passwd-form input {
    padding: 0px !important;
}
.form-group {
    margin-right: 50px !important;
    margin-left: 50px !important;
}
.field-input {
	padding-top: 15px !important;
}
.field-button {
    margin-right: 50px !important;
    margin-left: 50px !important;
}
/* maroua */
#timer {
   
}
.container
{
  margin-top: -3%;
}

.error
{
  color: #B94A48;
}

.form-horizontal
{
  margin-bottom: 0px;
}

.hide{display: none;}

/*
.question
{
  height:438px !important;
}
*/
/*
.questions{
height:200px;
border-bottom:0px;
width:100%;}
*/
/*
.questions
{
    margin-top: 10px;
    margin-bottom: 50px;
}
*/
/*
.questionsChoix
{
  height:348px;
  border-top:0px;
}
*/

/*
.radio
{
height:50px 
}
*/

.progress-bar-success {
  background-color:#5CB85C;
}
.progress-bar-warning {
  background-color:#F0AD4E;
}
.progress-bar-danger {
  background-color:#D9534F;
}
.btn-group > .btn + .dropdown-toggle {
  padding-left:8px;
  padding-right:8px;
}
.btn-default {
  background-color:#FFFFFF;
  border-color:#CCCCCC;
  color:#333333;
}
.btn-default {
  background-color:#FFFFFF;
  border-color:#CCCCCC;
  color:#333333;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius:0;
  border-top-left-radius:0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left:-1px;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  float:left;
  position:relative;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  float:left;
  position:relative;
}
input, button, select, textarea {
    font-family:inherit;}


    a{text-decoration: none;color: #fff;}
    header p{padding-top:20px;}

    footer
    {
      background: #339966;
      height: 100px;
      color:#fff;
  }

  footer p{padding-top:50px;}

  .image
  {
      padding-top:10%;
      height: 453px;
  }

  .intro
  {
      margin:150px 0px 150px 70px;
  }
  /*.question{height: 403px;}*/
  .result-logo{margin-left: 42%;margin-top:1.6%;}
  .result-logo1{margin-left: 55%;}
  .result-container{margin-left: 40%;margin-top:1%; color:#684B68;}
  .logout{padding-top:100px;}
  .next{margin-left:200px;}
  .answer{color:green;font-weight: 300;font-size: larger; }
  .result{height: 452px;}
  #timer
  {
    float:left;
    padding: 5px 20px 0 0;
}
.questionbox
{
    margin-top :17px;
    /*padding:10px;*/
    border:1px solid;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.drop-box
{ 
    border-color: rgba(0, 0, 0, 0.5);
    border:1px solid;
}

img
{
  width: 20px;
  height: 20px;
}

h4, .h4
{
  font-size:18px;
}

.titre
{ 
    font-weight: bold;
}

h4.titre span {
    /* Dans l'ordre: padding-top padding-right padding-bottom padding-left */
    margin-left: 56% ;/* Décaler le titre par rapport aux paragraphes normaux */
    margin-top:20% !important;
    color: blue;}

    .progress
    {
      background-color:#F5F5F5;
      border-radius:4px;
      box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
      height:20px;
      margin-bottom:20px;
      overflow:hidden;
  }

  #blocQuestion{float:left; width:240px;}

  .coverlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
}

.question_content
{
    top:0 !important;
    margin-top:0px;
}

input[type=checkbox], input[type=radio]
{
    vertical-align: middle;
    position: relative;
}

.questionsChoix input[type=radio] ,.checkbox-primary  input[type=checkbox]
{
    left: 20px;
}

label,h4
{
  display: block;
  float: left;
}
h4
{
    vertical-align : top;
    margin-right: 50px;
}

#name h4
{
    float: right;
}
input
{
    vertical-align: middle;
}

.questions_container
{
    padding: 0 2%;  
}

#boutons
{
    padding-top:5px; 
}
.panel-body
{
    padding:15px !important;
}
.progress,#boutonsTimer
{
  /* margin-top:40px;*/
  /*padding-left:10px;*/
}
#timer
{ 
    /*border-style:solid double;*/
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.cont
{
  text-align:-moz-left !important;
  float:none;
  /*margin-left: auto;*/
}

.form-top
{
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0 25px 15px;
    text-align: left;
}

.form-bottom
{
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px;
    text-align: left;
}
::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

.drop-shadow
{
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, .5);
    box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, .5);
}

.dialog_content
{
  padding: 0 5px !important;
}
.ui-progressbar-value
{
    width: 105.233% !important;
}
hr
{
    height:1px !important;
}

div.questionbox hr
{
  margin-top: 0 !important;
}
.radio
{
  clear: both;
}
/*.buttonBox {
    position: absolute;
    bottom:0;
    right:0;
    }*/
    @media (min-width: 768px)
    {
        .form-inline .radio input[type="radio"], 
        .form-inline .checkbox input[type="checkbox"] {
            float: left;
            margin-right: 5px;
        }
    }

    .no_overflow{
      overflow:hidden;
  }

  /* ----------- Style complementaire pour la page question_aptitude.php, la page question.php et la page evaluation.php ------------*/
  /* --------------------------------- Développé par ASSILI Taher --------------------------------------------------------------------------- */
  /* ----------------------------------taherassilli@gmail.com ------------------------------------------------------------------------------- */

  #section1
  {
    margin-top: 70px;
    margin-bottom: 5px;
}

#section1 h4
{
    /*color: #ED7F10;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18;*/
    color:  #77B5FE;
    font-weight: bold;
    font-size:18;
    
}

#section2 .drop-box
{
    margin-top: 20px;
    box-sizing: content-box;
    height: 79%;
    margin-bottom: 20px;
    padding: 0px;
}

#section2 .questionbox
{
    margin-bottom: 5px;
    /*height: 90%;*/
    /*padding: 20px;*/
}

#section2 .question1993
{
    height: 71%;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 60px;
    overflow: hidden;
    overflow-x: visible;
    overflow-y: scroll;
}

#section2 .boutons
{
    margin: 0px;
    padding: 0px;
}

#section2 .boutons .bouton1
{
    width: 30%;
    float: left;
}

#section2 .boutons .bouton2
{
    width: 20%;
    border-left: 1px solid black;
}

#section2 .boutons .bouton3
{
    width: 20%;
    border-left: 1px solid black;
}

#section2 .boutons .bouton4
{
    width: 30%;
    float: right;
    border-left: 1px solid black;
}

#section2 .questionsChoix
{
    /*color: black;*/
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
}


#section2 .questions
{
    margin-top: 10px;
    margin-bottom: 120px;
    /*color: #03224C;*/
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

/*
#section2 b
{
    color: #16B84E;
}
*/

.question1993::-webkit-scrollbar
{
    width: 1px;
    height: 0px;
    background-color: white;
}

.question1993::-webkit-scrollbar-button
{
    background-color: white;
    width: 20px;
    height: 0px;
}

.question1993::-webkit-scrollbar-track
{
    border-radius: 1px;
    /*background-color: grey;*/
    background-color: white;
    width: 2px;
    color: blue;
}

.question1993::-webkit-scrollbar-thumb
{
    border-radius: 1px;
    background-color: blue; 
    color: blue;
}

#section2 .nomEvaluation
{
    color:  #77B5FE;
    font-weight: bold;
    text-align: center;
    font-size:18;
    /*margin-left:5px;*/
    margin-top:15px;
    margin-bottom: 30px;
}


#page2
{
    background-image: url('../img/19.jpg');
    /*background-position: 10px center;*/
    background-position: 50px 50px;
    background-attachment: scroll;
    background-blend-mode: saturation;
    background-size: 350px 200px;
    background-repeat: no-repeat;
}

.boutonsEvaluations
{
    padding: 0px;
}

.boutonsEvaluations button
{
    display: inline-block;
    margin: 0px;
    width: 100%;
}
.boutonsEvaluations div
{
    padding: 0px;
    margin: 0px;
}

.boutonsEvaluations #bouton1
{
    border-right: 1px solid black;
    padding: 7px !important;
}

.boutonsEvaluations #bouton2
{
    border-right: 1px solid black;
    padding: 7px !important;
}

.boutonsEvaluations #bouton3
{
    padding: 7px !important;
}


.form-elements1
{
  margin-top:80px;
}

.form-elements1 h3
{
    color:  #77B5FE;
    font-weight: bold;
    font-size:18;
}

.form-elements
{
    margin-top: 10%;
}



.form-elements p
{
    /*color: black;*/
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

/* Small Devices, Tablets */ 
@media only screen and (max-width : 1200px)
{
    #section1
    {
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 10%;
    }
    
    #section2 .drop-box
    {
        margin-top: 0px;
        border: none;
        /*height: 700px;*/
        height: 500px;
        margin-bottom: 20px;
    }

    #section2 .question1993
    {
        height: 80%;
        margin-bottom: 10px;
        overflow: hidden;
        overflow-x: visible;
        overflow-y: scroll;
    }
    
    #section2 .boutons .bouton1,#section2 .boutons .bouton4
    {
        width: 50%;
        border-bottom: 1px solid black;
    }
    #section2 .boutons .bouton2
    {
        width: 100%;
        border-bottom: 1px solid black;
        border-left: 0px;
    }
    #section2 .boutons .bouton3
    {
        width: 100%;
        border-left: 0px;
    }
    
    #section2 #timer
    {
        margin-left: 0px;
        margin-top: 17px;
        margin-bottom: 10px;
        padding: 0px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0px;
        border: 1px solid black;
    }
    
    #page2
    {
        background-image: url('../img/19.jpg');
        /*background-position: 10px center;*/
        background-position: left 10px;
        background-attachment: scroll;
        background-size: 250px 150px;
    }
    
    .boutonsEvaluations #bouton1
    {
        border-right: 0px;
        border-bottom: 1px solid black;
    }

    .boutonsEvaluations #bouton2
    {
        border-right: 0px;
        border-bottom: 1px solid black;
    }
    
    .form-elements1
    {
        margin-top: 50px;
    }
    
    .form-elements
    {
        margin-top: 10%;
    }
    
    .form-elements p
    {
        color: black;
    }
    
    #section2 .nomEvaluation
    {
        text-align: center;
        margin-top:15px;
        margin-bottom: 20px;
    }

    
}

/* --------------------------------- Style complementaire pour la page navbar.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */
/* --------------------------------- taherassilli@gmail.com ---------------------------------------------------------------------- */
#nav-left-1
{
    width: 80%;
}

#nav-left-1 #profile1
{
    margin-left: 40px;
}

#nav-left-1 #deconnexion1
{
    padding-top:15px;
    padding-bottom:0px;
    margin:0px;
    float: right;
}

#nav-left-1 #deconnexion1 a
{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    
}

#nav-left-1 #deconnexion1 a i
{
    margin-right:2px;
}


@media (max-width: 1300px)
{
    .navbar-header
    {
        float: none;
    }
    
    .navbar-left,.navbar-right
    {
        float: none !important;
    }
    
    .navbar-toggle
    {
        display: block;
    }
    
    .navbar-collapse
    {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-fixed-top
    {
        top: 0;
        border-width: 0 0 1px;
    }
    
    .navbar-collapse.collapse
    {
        display: none!important;
    }
    
    .navbar-nav
    {
        float: none!important;
        margin-top: 7.5px;
    }
    
    .navbar-nav>li
    {
        float: none;
    }
    
    .navbar-nav>li>a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .collapse.in
    {
        display:block !important;
    }
    
    #nav-left-1 #profile1
    {
        margin-left: 0px;
    }

    #nav-left-1 #general1
    {
        margin-left: 0px;
    }

    #nav-left-1 #deconnexion1
    {
        float: left;
    }
    
    #nav-left-1 #deconnexion1 i
    {
        margin-left: 11px;
    }
    

}

.navbar
{
    margin-bottom: 0px !important; 
}

/* --------------------------------- Style complementaire pour la page result.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */
/* --------------------------------- taherassilli@gmail.com ---------------------------------------------------------------------- */
#page4
{
    /* background-image: url('../img/2.jpg'); */
    /*background-position: 10px center;*/
    /*background-position: 10px 10px;
    background-attachment: fixed;
    background-size: 400px 400px;
    background-repeat: no-repeat; */
}

#page4 img
{
    width: 100%;
    height: 200px;
    opacity: 1;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    margin-top: 50px;
}

#page4 .page-content1 p
{
    margin-top:10px;
    margin-bottom:20px;
    margin-left:10px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
}

#page4 .page-content1 a
{
    margin-top:10px;
    margin-bottom:20px;
    margin-left:20px;
}

#page4 #result-box
{
    margin-top: 30%;
}

@media (max-width: 991px)
{
    #page4 img
    {
        height: 150px;
        width: 50%;
    }
    #page4 .page-content1 p
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:20px;
    }
    
    #page4 .page-content1 a
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:50px;
    }
    
    #page4 #result-box
    {
        margin-top: 30px;
    }
    
}

@media (max-width: 767px)
{
    #page4 .page-content1 p
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:20%;
    }
    
    #page4 .page-content1 a
    {
        margin-top:10px;
        margin-bottom:20px;
        margin-left:21%;
    }
    
    #page4 img
    {
        height: 150px;
        width: 80%;
        margin-top: 50px;
    }
    
    #page4 #result-box
    {
        margin-top: 30px;
    }
}

/* --------------------------------- Style complementaire pour la page profil.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */
/* --------------------------------- taherassilli@gmail.com ---------------------------------------------------------------------- */

.user-list-profil #img1
{
    width: 80%;
    height: 30px;
    opacity: 1;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    margin-top: 0px;
    /*margin-left: 40%;*/
    margin-left: 20px;
}

.user-list-profil #panelGroup
{
    margin-top: 50px;
}

@media (max-width: 767px)
{
    .user-list-profil #panelGroup
    {
        margin-left: 20px;
    }

    
}

@media (max-width: 400px)
{
    .user-list-profil #panelGroup
    {
        margin-left: 0px;
    }
}

/* --------------------------------- Style complementaire pour la page index.php ------------------------------------------------ */
/* --------------------------------- Développé par ASSILI Taher ------------------------------------------------------------------ */

#presentation
{
    border-top: 2px solid green;
    margin:0px;
    margin-top:5px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#presentation h5
{
    /*color: #318CE7 !important;*/
    color: coral;
    font-family: cursive;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

#presentation p
{
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    /*font-weight: bold;*/
    font-style: normal;
}

#presentation #ligne
{
    border-top: 2px solid green;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

#page1 #vivaldi
{
    width:50%;
    max-width: 180px;
    height:100px;
    margin: 0px;
    margin-left: 20px;
    margin-top: 20px;
}
.modal.fade.in {
	width:40%;
	margin:auto;
	height:136px;
	background-color:#fff;
	padding-right:0px !important;
}
.modal.fade.in button {
	margin: 0px !important;
	width: 20%;
}
.modal.fade.in .modal-header {
	font-weight: bold;
}

.pop-outer {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100;
	height: 100%;
}
.pop-inner {
	background-color: #fff;
	width: 500px;
	height: 300px;
	padding: 25px;
	margin: 15% auto;
}

.navbar-header .navbar-brand {
    font-size: 28px;
    font-family: fantasy;
    margin-left: 50px !important;
}